.weatherCard {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.row {
  display: flex;
  gap: 5rem;
}
.CityTitle{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
