.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 100%;
  border-radius: 0.4rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgb(255, 250, 224);
  background-image: './images/weatherbackground.jpg'
}

.searchBar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1.2rem;
}

.inputTab {
  margin-top: 1rem;
}
